  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700;1,900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
  


#root{
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: #121212;
  font-family: 'Anton', sans-serif;
}

@media screen and  (max-width: 768px) {
  #root{
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }
}


  
